# System
.DS_Store
Thumbs.db
*.pem
*.key

# Dependencies
node_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
dev.tfplan
prod.tfplan

# Build
dist/
dev-dist/
_astro/
.astro/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*