<h2>hello</h2>

  <header>hello</header>

  <script>











  document.addEventListener("astro:page-load", () => {
    const menuToggle = document.getElementById("menu-toggle")
    const mobileMenu = document.getElementById("mobile-menu")
    const menuIcon = document.getElementById("menu-icon")

    if (!menuToggle || !mobileMenu || !menuIcon) {
      return
    }

    menuToggle.addEventListener("click", function () {
      mobileMenu.classList.toggle("translate-y-0")
      document.body.classList.toggle("overflow-hidden")
      menuIcon.textContent = menuIcon.textContent === "☰" ? "✕" : "☰"
    })
  })











</script>