@use 'global/style/config' as *;

[data-animate].fade-in
{
  opacity: 0;
}

.fade-in
{
  animation: fadeIn $ms_animation $ease_in both;
}

@keyframes fadeIn
{
  100%
  {
    opacity: 1;
  }
}

[data-animate].fade-out
{
  opacity: 1;
}

.fade-out
{
  animation: fadeOut $ms_animation $ease_in both;
}

@keyframes fadeOut
{
  100%
  {
    opacity: 0;
  }
}

[data-animate].fade-in-up
{
  transform: translateY($spacing_32);
  opacity: 0;
}

.fade-in-up
{
  animation: fadeInUp $ms_animation $ease_in_out both;
}

@keyframes fadeInUp
{
  100%
  {
    transform: translateY(0);
    opacity: 1;
  }
}

[data-animate].fade-in-down
{
  transform: translateY(-$spacing_32);
  opacity: 0;
}

.fade-in-down
{
  animation: fadeInDown $ms_animation $ease_in_out both;
}

@keyframes fadeInDown
{
  100%
  {
    transform: translateY(0);
    opacity: 1;
  }
}

[data-animate].fade-in-left
{
  transform: translateX(-$spacing_32);
  opacity: 0;
}

.fade-in-left
{
  animation: fadeInLeft $ms_animation $ease_in_out both;
}

@keyframes fadeInLeft
{
  100%
  {
    transform: translateX(0);
    opacity: 1;
  }
}

[data-animate].fade-in-right
{
  transform: translateX($spacing_32);
  opacity: 0;
}

.fade-in-right
{
  animation: fadeInRight $ms_animation $ease_in_out both;
}

@keyframes fadeInRight
{
  100%
  {
    transform: translateX(0);
    opacity: 1;
  }
}

[data-animate].fade-in-stroke
{
  fill-opacity: 0;
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
}

.fade-in-stroke
{
  animation: fadeInStroke 2s $ease_in forwards;
}

@keyframes fadeInStroke
{
  70%
  {
    fill-opacity: 0;
  }

  100%
  {
    fill-opacity: 1;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke-width: 1;
  }
}