@use 'global/style/config' as *;

[data-animate].slide-in-up
{
  transform: translateY($spacing_32);
}

.slide-in-up
{
  animation: slideInUp $ms_animation $ease_in_out both;
}

@keyframes slideInUp
{
  100%
  {
    transform: translateY(0);
  }
}

[data-animate].slide-in-down
{
  transform: translateY(-$spacing_32);
}

.slide-in-down
{
  animation: slideInDown $ms_animation $ease_in_out both;
}

@keyframes slideInDown
{
  100%
  {
    transform: translateY(0);
  }
}

[data-animate].slide-in-left
{
  transform: translateX(-$spacing_32);
}

.slide-in-left
{
  animation: slideInLeft $ms_animation $ease_in_out both;
}

@keyframes slideInLeft
{
  100%
  {
    transform: translateX(0);
  }
}

[data-animate].slide-in-right
{
  transform: translateX($spacing_32);
}

.slide-in-right
{
  animation: slideInRight $ms_animation $ease_in_out both;
}

@keyframes slideInRight
{
  100%
  {
    transform: translateX(0);
  }
}

[data-animate].slide-rotate-in
{
  transform: translateX(-20px) rotate(-90deg);
}

.slide-rotate-in
{
  animation: slideRotateIn $ms_slow $ease_out both;
}

@keyframes slideRotateIn
{
  0%
  {
    transform: translateX(-20px) rotate(-90deg);
  }

  100%
  {
    transform: translateX(0) rotate(0deg);
  }
}

[data-animate].slide-rotate-out
{
  transform: translateY(0);
}

.slide-rotate-out
{
  animation: slideRotateOut $ms_slow $ease_out both;
}

@keyframes slideRotateOut
{
  0%
  {
    transform: translateX(0) rotate(0deg);
  }

  100%
  {
    transform: translateX(20px) rotate(90deg);
  }
}