@use 'global/style/config' as *;

[data-animate].text-in-up
{
  transform: translateY(100%);
}

.text-in-up
{
  animation: textInUp $ms_animation $ease_in_out both;
}

@keyframes textInUp
{
  100%
  {
    transform: translateY(0);
  }
}

[data-animate].text-in-down
{
  transform: translateY(-100%);
}

.text-in-down
{
  animation: textInDown $ms_animation $ease_in_out both;
}

@keyframes textInDown
{
  100%
  {
    transform: translateY(0);
  }
}

[data-animate].text-in-left
{
  transform: translateX(-100%);
}

.text-in-left
{
  animation: textInLeft $ms_animation $ease_in_out both;
}

@keyframes textInLeft
{
  100%
  {
    transform: translateX(0);
  }
}

[data-animate].text-in-right
{
  transform: translateX(100%);
}

.text-in-right
{
  animation: textInRight $ms_animation $ease_in_out both;
}

@keyframes textInRight
{
  100%
  {
    transform: translateX(0);
  }
}

[data-animate].text-blur
{
  transform: none;
  opacity: 0;
  filter: blur($spacing_6);
}

.text-blur
{
  animation: textBlur $ms_animation $ease_in_out both;
}

@keyframes textBlur
{
  100%
  {
    opacity: 1;
    filter: blur(0);
  }
}

[data-animate].text-blur-down
{
  transform: translateY(-100%);
  opacity: 0;
  filter: blur($spacing_6);
}

.text-blur-down
{
  animation: textBlurDown $ms_animation $ease_in_out both;
}

@keyframes textBlurDown
{
  100%
  {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

[data-animate].text-blur-up
{
  transform: translateY(100%);
  opacity: 0;
  filter: blur($spacing_6);
}

.text-blur-up
{
  animation: textBlurUp $ms_animation $ease_in_out both;
}

@keyframes textBlurUp
{
  100%
  {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

[data-animate].text-blur-right
{
  transform: translateX(100%);
  opacity: 0;
  filter: blur($spacing_6);
}

.text-blur-right
{
  animation: textBlurRight $ms_animation $ease_in_out both;
}

@keyframes textBlurRight
{
  100%
  {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
}

[data-animate].text-blur-left
{
  transform: translateX(-100%);
  opacity: 0;
  filter: blur($spacing_6);
}

.text-blur-left
{
  animation: textBlurLeft $ms_animation $ease_in_out both;
}

@keyframes textBlurLeft
{
  100%
  {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
}