@use '../config' as *;

[data-animate].text-in-up {
  transform: translateY(100%);
}

.text-in-up {
  animation: textInUp $ms_animation $ease_in_out both;
}

[data-animate].text-in-down {
  transform: translateY(-100%);
}

.text-in-down {
  animation: textInDown $ms_animation $ease_in_out both;
}

[data-animate].text-in-left {
  transform: translateX(-100%);
}

.text-in-left {
  animation: textInLeft $ms_animation $ease_in_out both;
}

[data-animate].text-in-right {
  transform: translateX(100%);
}

.text-in-right {
  animation: textInRight $ms_animation $ease_in_out both;
}

[data-animate].text-blur {
  transform: none;
  opacity: 0;
  filter: blur($spacing_6);
}

.text-blur {
  animation: textBlur $ms_animation $ease_in_out both;
}

[data-animate].text-blur-down {
  transform: translateY(-100%);
  opacity: 0;
  filter: blur($spacing_6);
}

.text-blur-down {
  animation: textBlurDown $ms_animation $ease_in_out both;
}

[data-animate].text-blur-up {
  transform: translateY(100%);
  opacity: 0;
  filter: blur($spacing_6);
}

.text-blur-up {
  animation: textBlurUp $ms_animation $ease_in_out both;
}

[data-animate].text-blur-right {
  transform: translateX(100%);
  opacity: 0;
  filter: blur($spacing_6);
}

.text-blur-right {
  animation: textBlurRight $ms_animation $ease_in_out both;
}

[data-animate].text-blur-left {
  transform: translateX(-100%);
  opacity: 0;
  filter: blur($spacing_6);
}

.text-blur-left {
  animation: textBlurLeft $ms_animation $ease_in_out both;
}

.scroll-text-in-up {
  transform: translateY(100%);
  animation: textInUp linear both;
  animation-range: cover 0% cover 35%;
  animation-timeline: view();
}

.scroll-text-in-down {
  transform: translateY(-100%);
  animation: textInDown linear both;
  animation-range: cover 0% cover 35%;
  animation-timeline: view();
}

.scroll-text-in-left {
  transform: translateX(-100%);
  animation: textInLeft linear both;
  animation-range: cover 0% cover 35%;
  animation-timeline: view();
}

.scroll-text-in-right {
  transform: translateX(100%);
  animation: textInRight linear both;
  animation-range: cover 0% cover 35%;
  animation-timeline: view();
}

.scroll-text-blur {
  opacity: 0;
  filter: blur($spacing_6);
  animation: textBlur linear both;
  animation-range: cover 0% cover 35%;
  animation-timeline: view();
}

.scroll-text-blur-down {
  transform: translateY(-100%);
  opacity: 0;
  filter: blur($spacing_6);
  animation: textBlurDown linear both;
  animation-range: cover 0% cover 35%;
  animation-timeline: view();
}

.scroll-text-blur-up {
  transform: translateY(100%);
  opacity: 0;
  filter: blur($spacing_6);
  animation: textBlurUp linear both;
  animation-range: cover 0% cover 35%;
  animation-timeline: view();
}

.scroll-text-blur-right {
  transform: translateX(100%);
  opacity: 0;
  filter: blur($spacing_6);
  animation: textBlurRight linear both;
  animation-range: cover 0% cover 35%;
  animation-timeline: view();
}

.scroll-text-blur-left {
  transform: translateX(-100%);
  opacity: 0;
  filter: blur($spacing_6);
  animation: textBlurLeft linear both;
  animation-range: cover 0% cover 35%;
  animation-timeline: view();
}

@keyframes textInUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes textInDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes textInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes textInRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes textBlur {
  0% {
    opacity: 0;
    filter: blur($spacing_6);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes textBlurDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    filter: blur($spacing_6);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes textBlurUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
    filter: blur($spacing_6);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes textBlurRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
    filter: blur($spacing_6);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes textBlurLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    filter: blur($spacing_6);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
}