@use 'global/style/config' as *;

[data-animate].zoom-in
{
  transform: scale(0.5);
  opacity: 0;
}

.zoom-in
{
  animation: zoomIn $ms_animation $ease_out both;
}

@keyframes zoomIn
{
  100%
  {
    transform: scale(1);
    opacity: 1;
  }
}

[data-animate].zoom-out
{
  transform: scale(1);
  opacity: 1;
}

.zoom-out
{
  animation: zoomOut $ms_animation $ease_out both;
}

@keyframes zoomOut
{
  100%
  {
    transform: scale(0.5);
    opacity: 0;
  }
}

[data-animate].zoom-in-down
{
  transform: scale(0.5) translateY(100%);
  opacity: 0;
}

.zoom-in-down
{
  animation: zoomInDown $ms_animation $ease_out both;
}

@keyframes zoomInDown
{
  100%
  {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

[data-animate].zoom-in-up
{
  transform: scale(0.5) translateY(-100%);
  opacity: 0;
}

.zoom-in-up
{
  animation: zoomInUp $ms_animation $ease_out both;
}

@keyframes zoomInUp
{
  100%
  {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

[data-animate].zoom-in-left
{
  transform: scale(0.5) translateX(-100%);
  opacity: 0;
}

.zoom-in-left
{
  animation: zoomInLeft $ms_animation $ease_out both;
}

@keyframes zoomInLeft
{
  100%
  {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

[data-animate].zoom-in-right
{
  transform: scale(0.5) translateX(100%);
  opacity: 0;
}

.zoom-in-right
{
  animation: zoomInRight $ms_animation $ease_out both;
}

@keyframes zoomInRight
{
  100%
  {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}