@use '@global/style/global' as *;

html
{
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  width: 100%;
  font-size: 62.5%;
}

body
{
  overflow-x: hidden;
  width: 100%;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: $h6;
  color: $gray_950;
  background-color: $gray_100;

  @include font_weight(regular);
}

[data-animate]
{
  transform: none;
  opacity: 0;
  transition: none;
}