html
{
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body
{
  @include font_weight(regular);

  overflow-x: hidden;
  font-family: 'inter', system-ui, sans-serif;
  font-size: $h6;
  color: $gray_950;
  background-color: $gray_50;
}