@use '@global/style/global' as *;

html
{
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body
{
  overflow-x: hidden;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: $h6;
  color: $gray_950;
  background-color: $gray_100;

  @include font_weight(regular);
}