html
{
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body
{
  @apply text-base;
  @apply font-regular;
  @apply text-gray-950;
  @apply bg-gray-100;

  overflow-x: hidden;
  font-family: 'Inter', system-ui, sans-serif;
}