$black: #000;
$white: #fff;
$transparent: rgba($black, 0);
$modal: rgba($black, 0.5);

$gray_950: #030712;
$gray_900: #111827;
$gray_800: #1f2937;
$gray_700: #374151;
$gray_600: #4b5563;
$gray_500: #6b7280;
$gray_400: #9ca3af;
$gray_300: #d1d5db;
$gray_200: #e5e7eb;
$gray_100: #f3f4f6;
$gray_50: #f9fafb;

$skeleton: rgba($gray_400, 0.5);

$danger_950: #450a0a;
$danger_900: #7f1d1d;
$danger_800: #991b1b;
$danger_700: #b91c1c;
$danger_600: #dc2626;
$danger_500: #ef4444;
$danger_400: #f87171;
$danger_300: #fca5a5;
$danger_200: #fecaca;
$danger_100: #fee2e2;
$danger_50: #fef2f2;

$warning_950: #422006;
$warning_900: #713f12;
$warning_800: #854d0e;
$warning_700: #a16207;
$warning_600: #ca8a04;
$warning_500: #eab308;
$warning_400: #facc15;
$warning_300: #fde047;
$warning_200: #fef08a;
$warning_100: #fef9c3;
$warning_50: #fefce8;

$success_950: #052e16;
$success_900: #14532d;
$success_800: #166534;
$success_700: #15803d;
$success_600: #16a34a;
$success_500: #22c55e;
$success_400: #4ade80;
$success_300: #86efac;
$success_200: #bbf7d0;
$success_100: #dcfce7;
$success_50: #f0fdf4;

$primary_950: #162555;
$primary_900: #1c3b8c;
$primary_800: #1b41b2;
$primary_700: #1a53e3;
$primary_600: #2165ef;
$primary_500: #3785fa;
$primary_400: #5da8fd;
$primary_300: #91c7ff;
$primary_200: #bedcff;
$primary_100: #daebff;
$primary_50: #eff6ff;
