$black: #000;
$white: #fff;
$transparent: rgba($black, 0);
$modal: rgba($black, 0.5);
$skeleton: rgba(#9ca3af, 0.6);

$gray_950: #030712;
$gray_900: #111827;
$gray_800: #1f2937;
$gray_700: #374151;
$gray_600: #4b5563;
$gray_500: #6b7280;
$gray_400: #9ca3af;
$gray_300: #d1d5db;
$gray_200: #e5e7eb;
$gray_100: #f3f4f6;
$gray_50: #f9fafb;

$neutral_950: #0a0a0a;
$neutral_900: #171717;
$neutral_800: #262626;
$neutral_700: #404040;
$neutral_600: #525252;
$neutral_500: #737373;
$neutral_400: #a3a3a3;
$neutral_300: #d4d4d4;
$neutral_200: #e5e5e5;
$neutral_100: #f5f5f5;
$neutral_50: #fafafa;

$success_950: #052e16;
$success_900: #14532d;
$success_800: #166534;
$success_700: #15803d;
$success_600: #16a34a;
$success_500: #22c55e;
$success_400: #4ade80;
$success_300: #86efac;
$success_200: #bbf7d0;
$success_100: #dcfce7;
$success_50: #f0fdf4;

$warning_950: #422006;
$warning_900: #713f12;
$warning_800: #854d0e;
$warning_700: #a16207;
$warning_600: #ca8a04;
$warning_500: #eab308;
$warning_400: #facc15;
$warning_300: #fde047;
$warning_200: #fef08a;
$warning_100: #fef9c3;
$warning_50: #fefce8;

$danger_950: #450a0a;
$danger_900: #7f1d1d;
$danger_800: #991b1b;
$danger_700: #b91c1c;
$danger_600: #dc2626;
$danger_500: #ef4444;
$danger_400: #f87171;
$danger_300: #fca5a5;
$danger_200: #fecaca;
$danger_100: #fee2e2;
$danger_50: #fef2f2;

$information_950: #172554;
$information_900: #1e3a8a;
$information_800: #1e40af;
$information_700: #1d4ed8;
$information_600: #2563eb;
$information_500: #3b82f6;
$information_400: #60a5fa;
$information_300: #93c5fd;
$information_200: #bfdbfe;
$information_100: #dbeafe;
$information_50: #eff6ff;

$slate_950: #020617;
$slate_900: #0f172a;
$slate_800: #1e293b;
$slate_700: #334155;
$slate_600: #475569;
$slate_500: #64748b;
$slate_400: #94a3b8;
$slate_300: #cbd5e1;
$slate_200: #e2e8f0;
$slate_100: #f1f5f9;
$slate_50: #f8fafc;

$zinc_950: #09090b;
$zinc_900: #18181b;
$zinc_800: #27272a;
$zinc_700: #3f3f46;
$zinc_600: #52525b;
$zinc_500: #71717a;
$zinc_400: #a1a1aa;
$zinc_300: #d4d4d8;
$zinc_200: #e4e4e7;
$zinc_100: #f4f4f5;
$zinc_50: #fafafa;

$stone_950: #0c0a09;
$stone_900: #1c1917;
$stone_800: #292524;
$stone_700: #44403c;
$stone_600: #57534e;
$stone_500: #78716c;
$stone_400: #a8a29e;
$stone_300: #d6d3d1;
$stone_200: #e7e5e4;
$stone_100: #f5f5f4;
$stone_50: #fafaf9;

$orange_950: #431407;
$orange_900: #7c2d12;
$orange_800: #9a3412;
$orange_700: #c2410c;
$orange_600: #ea580c;
$orange_500: #f97316;
$orange_400: #fb923c;
$orange_300: #fdba74;
$orange_200: #fed7aa;
$orange_100: #ffedd5;
$orange_50: #fff7ed;

$amber_950: #451a03;
$amber_900: #78350f;
$amber_800: #92400e;
$amber_700: #b45309;
$amber_600: #d97706;
$amber_500: #eab308;
$amber_400: #fbbf24;
$amber_300: #fcd34d;
$amber_200: #fde68a;
$amber_100: #fef3c7;
$amber_50: #fffbeb;

$lime_950: #1a2e05;
$lime_900: #365314;
$lime_800: #3f6212;
$lime_700: #4d7c0f;
$lime_600: #65a30d;
$lime_500: #84cc16;
$lime_400: #a3e635;
$lime_300: #bef264;
$lime_200: #d9f99d;
$lime_100: #ecfccb;
$lime_50: #f7fee7;

$emerald_950: #022c22;
$emerald_900: #064e3b;
$emerald_800: #065f46;
$emerald_700: #047857;
$emerald_600: #059669;
$emerald_500: #10b981;
$emerald_400: #34d399;
$emerald_300: #6ee7b7;
$emerald_200: #a7f3d0;
$emerald_100: #d1fae5;
$emerald_50: #ecfdf5;

$teal_950: #042f2e;
$teal_900: #134e4a;
$teal_800: #115e59;
$teal_700: #0f766e;
$teal_600: #0d9488;
$teal_500: #14b8a6;
$teal_400: #2dd4bf;
$teal_300: #5eead4;
$teal_200: #99f6e4;
$teal_100: #ccfbf1;
$teal_50: #f0fdfa;

$cyan_950: #083344;
$cyan_900: #164e63;
$cyan_800: #155e75;
$cyan_700: #0e7490;
$cyan_600: #0891b2;
$cyan_500: #06b6d4;
$cyan_400: #22d3ee;
$cyan_300: #67e8f9;
$cyan_200: #a5f3fc;
$cyan_100: #cffafe;
$cyan_50: #ecfeff;

$sky_950: #082f49;
$sky_900: #0c4a6e;
$sky_800: #075985;
$sky_700: #0369a1;
$sky_600: #0284c7;
$sky_500: #0ea5e9;
$sky_400: #38bdf8;
$sky_300: #7dd3fc;
$sky_200: #bae6fd;
$sky_100: #e0f2fe;
$sky_50: #f0f9ff;

$indigo_950: #1e1b4b;
$indigo_900: #312e81;
$indigo_800: #3730a3;
$indigo_700: #4338ca;
$indigo_600: #4f46e5;
$indigo_500: #6366f1;
$indigo_400: #818cf8;
$indigo_300: #a5b4fc;
$indigo_200: #c7d2fe;
$indigo_100: #e0e7ff;
$indigo_50: #eef2ff;

$violet_950: #2e1065;
$violet_900: #4c1d95;
$violet_800: #5b21b6;
$violet_700: #6d28d9;
$violet_600: #7c3aed;
$violet_500: #8b5cf6;
$violet_400: #a78bfa;
$violet_300: #c4b5fd;
$violet_200: #ddd6fe;
$violet_100: #ede9fe;
$violet_50: #f5f3ff;

$purple_950: #3b0764;
$purple_900: #581c87;
$purple_800: #6b21a8;
$purple_700: #7e22ce;
$purple_600: #9333ea;
$purple_500: #a855f7;
$purple_400: #c084fc;
$purple_300: #d8b4fe;
$purple_200: #e9d5ff;
$purple_100: #f3e8ff;
$purple_50: #faf5ff;

$fuchsia_950: #4a044e;
$fuchsia_900: #701a75;
$fuchsia_800: #86198f;
$fuchsia_700: #a21caf;
$fuchsia_600: #c026d3;
$fuchsia_500: #d946ef;
$fuchsia_400: #e879f9;
$fuchsia_300: #f0abfc;
$fuchsia_200: #f5d0fe;
$fuchsia_100: #fae8ff;
$fuchsia_50: #fdf4ff;

$pink_950: #500724;
$pink_900: #831843;
$pink_800: #9d174d;
$pink_700: #be185d;
$pink_600: #db2777;
$pink_500: #f472b6;
$pink_400: #f472b6;
$pink_300: #f9a8d4;
$pink_200: #fbcfe8;
$pink_100: #fce7f3;
$pink_50: #fdf2f8;

$rose_950: #4c0519;
$rose_900: #881337;
$rose_800: #9f1239;
$rose_700: #be123c;
$rose_600: #e11d48;
$rose_500: #f43f5e;
$rose_400: #fb7185;
$rose_300: #fda4af;
$rose_200: #fecdd3;
$rose_100: #ffe4e6;
$rose_50: #fff1f2;

$primary_950: #162555;
$primary_900: #1c3b8c;
$primary_800: #1b41b2;
$primary_700: #1a53e3;
$primary_600: #2165ef;
$primary_500: #3785fa;
$primary_400: #5da8fd;
$primary_300: #91c7ff;
$primary_200: #bedcff;
$primary_100: #daebff;
$primary_50: #eff6ff;
