@use './color' as *;

$shadow_down_black_100: 0 0.2rem 2rem 0 rgba($black, 0.05);
$shadow_down_black_200: 0 0.1rem 0.3rem rgba($black, 0.1), 0 0.1rem 0.2rem rgba($black, 0.1);
$shadow_down_black_300: 0 0.4rem 0.6rem rgba($black, 0.1), 0 0.2rem 0.4rem rgba($black, 0.1);
$shadow_down_black_400: 0 1.5rem 1rem rgba($black, 0.1), 0 0.4rem 0.6rem rgba($black, 0.1);
$shadow_down_black_500: 0 2.5rem 2rem rgba($black, 0.1), 0 1rem 0.8rem rgba($black, 0.1);
$shadow_down_black_600: 0 2.5rem 5rem rgba($black, 0.25);

$shadow_up_black_100: 0 -0.2rem 2rem 0 rgba($black, 0.05);
$shadow_up_black_200: 0 -0.1rem 0.3rem rgba($black, 0.1), 0 -0.1rem 0.2rem rgba($black, 0.1);
$shadow_up_black_300: 0 -0.4rem 0.6rem rgba($black, 0.1), 0 -0.2rem 0.4rem rgba($black, 0.1);
$shadow_up_black_400: 0 -1.5rem 1rem rgba($black, 0.1), 0 -0.4rem 0.6rem rgba($black, 0.1);
$shadow_up_black_500: 0 -2.5rem 2rem rgba($black, 0.1), 0 -1rem 0.8rem rgba($black, 0.1);
$shadow_up_black_600: 0 -2.5rem 5rem rgba($black, 0.25);

$shadow_right_black_100: 0.2rem 0 2rem 0 rgba($black, 0.05);
$shadow_right_black_200: 0.1rem 0 0.3rem rgba($black, 0.1), 0.1rem 0 0.2rem rgba($black, 0.1);
$shadow_right_black_300: 0.4rem 0 0.6rem rgba($black, 0.1), 0.2rem 0 0.4rem rgba($black, 0.1);
$shadow_right_black_400: 1.5rem 0 1rem rgba($black, 0.1), 0.4rem 0 0.6rem rgba($black, 0.1);
$shadow_right_black_500: 2.5rem 0 2rem rgba($black, 0.1), 1rem 0 0.8rem rgba($black, 0.1);
$shadow_right_black_600: 2.5rem 0 5rem rgba($black, 0.25);

$shadow_left_black_100: -0.2rem 0 2rem 0 rgba($black, 0.05);
$shadow_left_black_200: -0.1rem 0 0.3rem rgba($black, 0.1), -0.1rem 0 0.2rem rgba($black, 0.1);
$shadow_left_black_300: -0.4rem 0 0.6rem rgba($black, 0.1), -0.2rem 0 0.4rem rgba($black, 0.1);
$shadow_left_black_400: -1.5rem 0 1rem rgba($black, 0.1), -0.4rem 0 0.6rem rgba($black, 0.1);
$shadow_left_black_500: -2.5rem 0 2rem rgba($black, 0.1), -1rem 0 0.8rem rgba($black, 0.1);
$shadow_left_black_600: -2.5rem 0 5rem rgba($black, 0.25);

$shadow_center_black_100: 0 0.2rem 0.2rem 0 rgba($black, 0.05);
$shadow_center_black_200: 0 0.1rem 0.2rem -0.1rem rgba($black, 0.1), 0 0.1rem 0.3rem 0 rgba($black, 0.1);
$shadow_center_black_300: 0 0.2rem 0.4rem -0.2rem rgba($black, 0.1), 0 0.4rem 0.6rem -0.1rem rgba($black, 0.1);
$shadow_center_black_400: 0 0.4rem 0.6rem -0.4rem rgba($black, 0.1), 0 1.5rem 1rem -0.3rem rgba($black, 0.1);
$shadow_center_black_500: 0 1rem 0.8rem -0.6rem rgba($black, 0.1), 0 2.5rem 2rem -0.5rem rgba($black, 0.1);
$shadow_center_black_600: 0 2.5rem 5rem -1.2rem rgba($black, 0.25);