$spacing_1: 0.1rem;
$spacing_2: 0.2rem;
$spacing_3: 0.3rem;
$spacing_4: 0.4rem;
$spacing_5: 0.5rem;
$spacing_6: 0.6rem;
$spacing_7: 0.7rem;
$spacing_8: 0.8rem;
$spacing_12: 1.2rem;
$spacing_16: 1.6rem;
$spacing_20: 2rem;
$spacing_24: 2.4rem;
$spacing_28: 2.8rem;
$spacing_32: 3.2rem;
$spacing_34: 3.4rem;
$spacing_36: 3.6rem;
$spacing_40: 4rem;
$spacing_44: 4.4rem;
$spacing_48: 4.8rem;
$spacing_56: 5.6rem;
$spacing_64: 6.4rem;
$spacing_80: 8rem;
$spacing_96: 9.6rem;
$spacing_112: 11.2rem;
$spacing_128: 12.8rem;
$spacing_144: 14.4rem;
$spacing_160: 16rem;
$spacing_176: 17.6rem;
$spacing_196: 19.6rem;
$spacing_208: 20.8rem;
$spacing_224: 22.4rem;
$spacing_240: 24rem;
$spacing_256: 25.6rem;
$spacing_288: 28.8rem;
$spacing_320: 32rem;
$spacing_384: 38.4rem;