/* stylelint-disable @stylistic/max-line-length */
@use 'global/style/config' as *;

.custom-skeleton {
  display: block;
  width: 100px;
  height: 100px;
}

.section-test {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.section-test__transparent {
  background-color: transparent;
}

.box {
  display: block;
  width: 100px;
  min-width: 100px;
  height: 100px;
  background-color: #3498db;
}

.scroll-test {
  height: 300px;
  margin-top: $spacing_20;
}