.presentation
{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70rem;
  margin: $spacing_64 0;
  padding: $spacing_32;
  background-color: $gray_200;
  border-radius: $rounded_medium;
}

.skeleton-test
{
  width: 100%;
  height: $spacing_208;
}

.form
{
  display: flex;
  flex-direction: column;
  gap: $spacing_32;
}

.image
{
  border-radius: $rounded_medium;
}