.accordion_container
{
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.uno
{
  .accordion
  {
    padding: 1rem;
  }

  .accordion_inf_container
  {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
  }

  .accordion_inf_container:hover, .accordion_inf_container:focus
  {
    border: 3px solid #3785fa;
  }

  .accordion_title
  {
    cursor: pointer;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 3rem;
    font-weight: 700;
    color: #030712;
  }

  .accordion_description
  {
    cursor: grabbing;
    flex-wrap: wrap;
    padding: 0 1rem;
    padding-top: 0.5rem;
    font-size: 2rem;
    color: #6b7280;
    text-align: start;
  }
}

.dos
{
  .accordion
  {
    margin-bottom: 1rem;
  }
  /* stylelint-disable-next-line no-descending-specificity */
  .accordion_inf_container
  {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-top: 3px solid #9ca3af;
    border-right: none;
    border-bottom: 3px solid #9ca3af;
    border-left: none;
  }

  .accordion_inf_container:hover, .accordion_inf_container:focus
  {
    border-top: 3px solid #3785fa;
    border-bottom: 3px solid #3785fa;
  }

  .accordion_title
  {
    cursor: pointer;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 1px;
    font-size: 3rem;
    font-weight: 700;
    color: #030712;
  }

  .accordion_description
  {
    cursor: grabbing;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    font-size: 2rem;
    color: #6b7280;
    text-align: start;
  }
}