@use 'global/style/config' as *;

.alert {
  position: fixed;
  z-index: $z_popover;
  transform: translateY(-$spacing_32);
  display: inline-flex;
  gap: $spacing_8;
  align-items: start;
  min-width: 250px;
  padding: $spacing_12;
  visibility: hidden;
  opacity: 0;
  background-color: $gray_50;
  border: 1px solid $gray_300;
  border-radius: $rounded_small;
  box-shadow: $shadow_down_black_300;
  transition: border-color $ms_base, transform $ms_base, opacity $ms_base, visibility $ms_base;

  @include responsive(phone) {
    width: 100%;
    max-width: 350px;
  }

  &:hover {
    border-color: $success_500;
  }
}

.alert--active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.alert__title {
  font-weight: font-weight(bold);

  @include responsive(phone) {
    font-size: $h5;
  }
}

.alert__message {
  font-size: $sm;
  color: $neutral_800;

  @include responsive(phone) {
    font-size: $h6;
  }
}

.alert__icon-close {
  display: flex;
  width: $spacing_12;
  height: $spacing_12;
  fill: $gray_500;
  transition: fill 0.5s;
}

.alert__container-icon-close {
  cursor: pointer;
  position: absolute;
  top: $spacing_12;
  right: $spacing_12;
  padding: $spacing_6;
  background-color: $gray_200;
  border-radius: 0.6rem;
  transition: background-color 0.5s;

  &:hover {
    background-color: $gray_300;
  }

  &:hover .alert__icon-close {
    fill: $gray_700;
  }
}

.alert__container-icon {
  display: flex;
  padding: $spacing_8;
  background-color: $success_300;
  border-radius: $rounded_half;
}

.alert__icon {
  width: $spacing_12;
  height: $spacing_12;
  fill: $success_800;
}

.alert--error:hover {
  border-color: $danger_500;
}

.alert--error .alert__container-icon {
  background-color: $danger_300;
}

.alert--error .alert__icon {
  fill: $danger_800;
}

.alert--warning:hover {
  border-color: $warning_500;
}

.alert--warning .alert__container-icon {
  background-color: $warning_300;
}

.alert--warning .alert__icon {
  fill: $warning_800;
}

.alert--info:hover {
  border-color: $information_500;
}

.alert--info .alert__container-icon {
  background-color: $information_300;
}

.alert--info .alert__icon {
  fill: $information_800;
}

.alert--bottom-right {
  right: $spacing_20;
  bottom: $spacing_20;

  @include responsive(small_table) {
    right: $spacing_32;
    bottom: $spacing_32;
  }

  @include responsive(small_desktop) {
    right: $spacing_64;
    bottom: $spacing_64;
  }
}

.alert--bottom-center {
  bottom: $spacing_20;
  left: 50%;
  transform: translateX(-50%);

  @include responsive(small_table) {
    bottom: $spacing_32;
  }

  @include responsive(small_desktop) {
    bottom: $spacing_64;
  }
}

.alert--bottom-left {
  bottom: $spacing_20;
  left: $spacing_20;

  @include responsive(small_table) {
    bottom: $spacing_32;
    left: $spacing_32;
  }

  @include responsive(small_desktop) {
    bottom: $spacing_64;
    left: $spacing_64;
  }
}

.alert--top-right {
  top: $spacing_20;
  right: $spacing_20;

  @include responsive(small_table) {
    top: $spacing_32;
    right: $spacing_32;
  }

  @include responsive(small_desktop) {
    top: $spacing_64;
    right: $spacing_64;
  }
}

.alert--top-left {
  top: $spacing_20;
  left: $spacing_20;

  @include responsive(small_table) {
    top: $spacing_32;
    left: $spacing_32;
  }

  @include responsive(small_desktop) {
    top: $spacing_64;
    left: $spacing_64;
  }
}

.alert--top-center {
  top: $spacing_20;
  left: 50%;
  transform: translateX(-50%);

  @include responsive(small_table) {
    top: $spacing_32;
  }

  @include responsive(small_desktop) {
    top: $spacing_64;
  }
}

.alert--behind {
  transform: scale(0.95) translateY(-$spacing_12);
}

.alert--behind-third {
  transform: scale(0.9) translateY(-$spacing_24);
}