.button
{
  @include responsive(phone)
  {
    font-size: $h5;
  }

  @include font_weight('bold');

  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: $spacing_12 $spacing_20;
  font-size: $h6;
  color: $gray_50;
  background-color: $primary_400;
  border: 0;
  border-radius: $rounded_small;
  box-shadow: $shadow_down_black_200;
  transition: scale 0.2s, opacity 0.2s;

  &:hover
  {
    scale: 1.05;
    box-shadow: $shadow_center_primary_100;
  }

  &:active
  {
    scale: 0.95;
    transition: scale 0.2s;
  }
}

.button--disabled
{
  opacity: 0.5;
  transition: opacity 0.5s;

  &:hover
  {
    opacity: 1;
  }
}