@use 'global/style/config' as *;

.custom-image
{
  position: relative;
  display: inline-block;
  line-height: 0;
}

.custom-image__tag
{
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}