@use '@global/style/global' as *;

.custom-image
{
  position: relative;
  display: inline-block;
  border-radius: $rounded_small;
  transition: opacity 0.5s, visibility 0.5s;
}

.custom-image__skeleton
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom-image__content
{
  visibility: visible;
  opacity: 1;
}

.custom-image__content--desactive
{
  visibility: hidden;
  opacity: 0;
}