.footer-copyright
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-copyright__text
{
  @include responsive(phone)
  {
    font-size: $h6;
  }

  font-size: $sm;
  line-height: 1.5;
  color: $gray_500;
  text-align: center;
}

.footer-copyright__image
{
  width: $spacing_96;
  margin-top: $spacing_12;
}