@use 'global/style/config' as *;

.input__icon {
  display: flex;
  width: $spacing_20;
  min-width: $spacing_20;
  max-width: $spacing_20;
  height: $spacing_20;
  fill: $gray_400;
  transition: fill 0.5s;

  @include responsive(phone) {
    width: $spacing_24;
    min-width: $spacing_24;
    max-width: $spacing_24;
    height: $spacing_24;
  }
}

.input__container {
  display: flex;
  gap: $spacing_8;
  align-items: center;
  width: 100%;
  padding: $spacing_16;
  background-color: $gray_200;
  border-radius: $rounded_small;
  outline: 0 solid transparent;
  box-shadow: $shadow_down_black_200;
  transition: outline-color 0.3s, box-shadow 0.3s;

  &:hover {
    outline: $spacing_2 solid $primary_500;
    box-shadow: $shadow_down_black_200, 0 0 0 $spacing_4 $primary_200;
  }

  &:has(.input__tag:focus) {
    outline: $spacing_2 solid $primary_500;
    box-shadow: $shadow_down_black_200, 0 0 0 $spacing_4 $primary_200;
  }

  &:hover .input__icon {
    fill: $primary_500;
  }

  &:has(.input__tag:focus) .input__icon {
    fill: $primary_500;
  }
}

.input__label {
  position: absolute;
  top: 0;
  left: 0;
  color: $gray_400;
  transition: top 0.5s, font-size 0.3s;
}

.input__tag {
  width: 100%;
  height: 100%;
  color: $gray_950;
  background-color: transparent;
  border: none;
  outline: none;

  &::placeholder {
    color: transparent;
    transition: color 0.5s;
  }

  &:not(:placeholder-shown) ~ .input__label {
    top: -$spacing_16;
    font-size: $sm;
    font-weight: font-weight(semi_bold);
    color: $gray_500;
  }

  &:focus ~ .input__label {
    top: -$spacing_16;
    font-size: $sm;
    font-weight: font-weight(semi_bold);
    color: $primary_500;
  }

  &:hover:not(:placeholder-shown) ~ .input__label {
    color: $primary_500;
  }

  &:focus::placeholder {
    color: $gray_400;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 $spacing_32 $gray_200 inset !important;
  }
}

.input__container-tag {
  position: relative;
  top: 0;
  width: 100%;
  transition: top 0.3s;

  &:has(.input__tag:focus) {
    top: $spacing_7;
  }

  &:has(.input__tag:not(:placeholder-shown)) {
    top: $spacing_7;
  }
}

.input__label-required {
  color: $danger_500;
}

.input__text-helper {
  width: 100%;
  font-size: $sm;
  color: $gray_950;
}

.input__text-helper-right {
  text-align: end;
}

.input__container-helper {
  display: flex;
  width: 100%;
  margin-top: $spacing_8;
}