.input
{
  position: relative;
  transform: opacity 0.5s;
  width: 100%;
}

.input__container
{
  width: 100%;
}

.input__text-left
{
  @include responsive(phone)
  {
    font-size: $sm;
  }

  position: absolute;
  margin-top: $spacing_2;
  font-size: $ss;
  line-height: 1.5;
  visibility: visible;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

.input--disabled
{
  opacity: 0.5;
}

.input__label
{
  @include responsive(phone)
  {
    left: 2.6rem;
    font-size: $h6;
  }

  position: absolute;
  top: 50%;
  left: $spacing_20;
  transform: translateY(-50%);
  font-size: $sm;
  line-height: 1.5;
  color: $gray_600;
  transition: font-size 0.5s, top 0.5s, transform 0.5s;
}

.input__container-icon
{
  cursor: text;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__icon
{
  @include responsive(phone)
  {
    width: $spacing_24;
    height: $spacing_24;
  }

  width: $spacing_20;
  height: $spacing_20;
  fill: $gray_600;
  transition: fill 0.5s;
}

.input--area ~ .input__container-icon
{
  @include responsive(phone)
  {
    top: $spacing_32;
  }

  top: 2.6rem;
}

.input--area ~ .input__label
{
  @include responsive(phone)
  {
    top: $spacing_32;
  }

  top: 2.5rem;
}

.input__tag
{
  @include responsive(phone)
  {
    padding: $spacing_28 $spacing_24 $spacing_12 $spacing_24;
    font-size: $h6;
    border-width: $spacing_3;
  }

  width: 100%;
  padding: $spacing_24 $spacing_20 $spacing_12 $spacing_20;
  font-family: inherit;
  font-size: $sm;
  background-color: $gray_100;
  border: $spacing_2 solid transparent;
  border-radius: $rounded_medium;
  outline: none;
  box-shadow: $shadow_center_black_300;
  transition-duration: 0.5s;
  transition-property: padding, box-shadow, background-color, border;

  &::placeholder
  {
    color: $gray_600;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:focus::placeholder
  {
    opacity: 1;
  }

  &:-webkit-autofill
  {
    box-shadow: inset 0 0 $spacing_20 $spacing_20 transparent;
    transition: background-color 5000s ease-in-out 0s;
  }

  &:hover
  {
    background-color: $gray_50;
    border-color: $primary_500;
  }

  &:focus ~ .input__label
  {
    @include responsive(phone)
    {
      font-size: $sm;
    }

    top: 1rem;
    transform: translateY(0);
    font-size: $ss;
    color: $primary_500;
  }

  &:not(:placeholder-shown) ~ .input__label
  {
    @include responsive(phone)
    {
      font-size: $sm;
    }

    top: 1rem;
    transform: translateY(0);
    font-size: $ss;
    color: $primary_500;
  }

  &:not(:placeholder-shown)
  {
    background-color: $gray_50;
    border-color: $primary_500;
  }

  &:disabled,
  &:disabled ~ .input__container-icon,
  &:disabled ~ .input__label
  {
    pointer-events: none;
  }

  &:hover ~ .input__container-icon .input__icon
  {
    fill: $primary_500;
  }

  &:focus ~ .input__container-icon .input__icon
  {
    fill: $primary_500;
  }

  &:not(:placeholder-shown) ~ .input__container-icon .input__icon
  {
    fill: $primary_500;
  }
}

.input__tag--error
{
  &:hover
  {
    border-color: $danger_500;
  }

  &:focus ~ .input__label
  {
    color: $danger_500;
  }

  &:not(:placeholder-shown) ~ .input__label
  {
    color: $danger_500;
  }

  &:not(:placeholder-shown)
  {
    border-color: $danger_500;
  }

  &:hover ~ .input__container-icon .input__icon
  {
    fill: $danger_500;
  }

  &:focus ~ .input__container-icon .input__icon
  {
    fill: $danger_500;
  }

  &:not(:placeholder-shown) ~ .input__container-icon .input__icon
  {
    fill: $danger_500;
  }
}

.input__tag--success
{
  &:hover
  {
    border-color: $success_500;
  }

  &:focus ~ .input__label
  {
    color: $success_500;
  }

  &:not(:placeholder-shown) ~ .input__label
  {
    color: $success_500;
  }

  &:not(:placeholder-shown)
  {
    border-color: $success_500;
  }

  &:hover ~ .input__container-icon .input__icon
  {
    fill: $success_500;
  }

  &:focus ~ .input__container-icon .input__icon
  {
    fill: $success_500;
  }

  &:not(:placeholder-shown) ~ .input__container-icon .input__icon
  {
    fill: $success_500;
  }
}

.input__tag--left
{
  @include responsive(phone)
  {
    padding-left: 5.8rem;
  }

  padding-left: 4.8rem;

  &:focus ~ .input__label
  {
    @include responsive(phone)
    {
      left: 5.8rem;
    }

    left: 4.8rem;
  }

  &:not(:placeholder-shown) ~ .input__label
  {
    @include responsive(phone)
    {
      left: 5.8rem;
    }

    left: 4.8rem;
  }
}

.input__tag--right
{
  padding-right: 4.8rem;
}

.input__label--left
{
  @include responsive(phone)
  {
    left: $spacing_56;
  }

  left: 4.8rem;
}

.input__required
{
  color: $danger_500;
}

.input__left
{
  @include responsive(phone)
  {
    left: $spacing_24;
  }

  left: $spacing_20;
}

.input__right
{
  @include responsive(phone)
  {
    right: $spacing_24;
  }

  right: $spacing_20;
}

.input__text-left--error
{
  color: $danger_500;
}

.input__text-left--success
{
  color: $success_500;
}

.input--area
{
  resize: none;
  width: 100%;
  min-height: $spacing_208;
}

.input__text-left--active
{
  visibility: visible;
  opacity: 1;
}