@use 'global/style/config' as *;

.navbar {
  position: fixed;
  z-index: $z_50;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $gray_100;
  transition: transform $ms_slow ease, box-shadow 0.2s ease;
}

.navbar--scroll-down {
  transform: translateY(-150%);
}

.navbar--scroll-up {
  transform: translateY(0);
  background-color: $gray_100;
  box-shadow: $shadow_down_black_300;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: $spacing_20;
  padding-bottom: $spacing_20;
}

.navbar__menu {
  position: fixed;
  z-index: $z_90;
  top: 0;
  right: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  gap: $spacing_64;
  align-items: flex-end;
  width: 100%;
  max-width: $spacing_384;
  min-height: 100vh;
  padding: $spacing_32;
  visibility: hidden;
  opacity: 0;
  background-color: $gray_100;
  box-shadow: $shadow_left_black_600;

  @include responsive(small_tablet) {
    position: static;
    top: auto;
    right: auto;
    transform: translate(0);
    flex-direction: row;
    align-items: flex-start;
    width: auto;
    max-width: none;
    min-height: auto;
    padding: 0;
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    box-shadow: none;
    transition: none;
  }
}

.navbar--transition .navbar__menu {
  transition: opacity 0.2s ease, transform $ms_slow ease, visibility 0.2s ease;
}

.navbar--active .navbar__menu {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.navbar__icon-open {
  width: $spacing_24;
  height: $spacing_24;
}

.navbar__button-close {
  cursor: pointer;

  @include responsive(small_tablet) {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}

.navbar__icon-close {
  width: $spacing_24;
  height: $spacing_24;
}

.navbar__button-open {
  cursor: pointer;

  @include responsive(small_tablet) {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}

.navbar__overlay {
  @include responsive(small_tablet) {
    visibility: hidden;
    opacity: 0;
  }
}