.ripple
{
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: $white;
  border-radius: 50%;
  animation: ripple 1s linear infinite;
}

@keyframes ripple
{
  0%
  {
    width: 0;
    height: 0;
    opacity: 0.5;
  }

  100%
  {
    width: $spacing_384;
    height: $spacing_384;
    opacity: 0;
  }
}