::-webkit-scrollbar
{
  width: $spacing_12;
  border-radius: $rounded_medium;
}

::-webkit-scrollbar-thumb
{
  background-color: $primary_500;
  background-clip: content-box;
  border: $spacing_2 solid transparent;
  border-radius: $rounded_medium;

  &:hover
  {
    background-color: $primary_400;
  }

  &:active
  {
    background-color: $primary_700;
  }
}

::-webkit-scrollbar-track
{
  background: $gray_200;
}

::-webkit-scrollbar-corner
{
  background: $gray_200;
}