.skeleton
{
  position: relative;
  overflow: hidden;
  display: block;
  visibility: hidden;
  opacity: 0;
  background-color: $gray_200;
  border-radius: $rounded_small;
  transition: opacity 0.5s, visibility 0.5s;

  &::before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%);
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, $transparent 0%, $skeleton 50%, $transparent 100%);
    animation: 1.5s shimmer infinite;
  }
}

.skeleton--active
{
  visibility: visible;
  opacity: 1;
}

@keyframes shimmer
{
  100%
  {
    transform: translateX(100%);
  }
}