@layer utilities
{
  .fade-in
  {
    opacity: 0;
  }

  .fade-out
  {
    opacity: 1;
  }

  .fade-in-up
  {
    transform: translateY(32px);
    opacity: 0;
  }

  .fade-in-down
  {
    transform: translateY(-32px);
    opacity: 0;
  }

  .fade-in-left
  {
    transform: translateX(-32px);
    opacity: 0;
  }

  .fade-in-right
  {
    transform: translateX(32px);
    opacity: 0;
  }

  .slide-in-up
  {
    transform: translateY(32px);
  }

  .slide-in-down
  {
    transform: translateY(32px);
  }

  .slide-in-left
  {
    transform: translateX(-32px);
  }

  .slide-in-right
  {
    transform: translateX(32px);
  }

  .zoom-in
  {
    transform: scale(0.5);
    opacity: 0;
  }

  .zoom-out
  {
    transform: scale(1);
    opacity: 1;
  }

  .pulse-fade-in
  {
    transform: scale(0.9);
    opacity: 0;
  }

  .twister-in-down
  {
    transform-origin: 0 100%;
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
    opacity: 0;
  }

  .fade-in-stroke
  {
    fill-opacity: 0;
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
  }

  .heart-beat
  {
    transform: scale(1);
  }

  .bounce-in
  {
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.21, 0.61, 0.35, 1);
  }

  .tada
  {
    transform: scale(1);
  }

  .float
  {
    transform: translateY(0);
  }

  .sink
  {
    transform: translateY(-10px);
  }

  .jiggle
  {
    transform: rotate(-3deg);
  }

  .swing-drop-in
  {
    transform: rotate(-30deg) translateY(-50px);
    opacity: 0;
  }

  .flip-in-x
  {
    transform: rotateY(90deg);
    opacity: 0;
  }

  .flip-in-y
  {
    transform: rotateX(90deg);
    opacity: 0;
  }

  .slide-rotate-in
  {
    transform: translateX(-20px) rotate(-90deg);
    opacity: 0;
  }

  .slide-rotate-out
  {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
