@mixin font_weight($weight)
{
  @if($weight == 'light')
  {
    font-weight: 300;
  }

  @if($weight == 'regular')
  {
    font-weight: 400;
  }

  @if($weight == 'semi_bold')
  {
    font-weight: 600;
  }

  @if($weight == 'bold')
  {
    font-weight: 700;
  }

  @if($weight == 'extra_bold')
  {
    font-weight: 800;
  }
}