@mixin font_weight($weight)
 {
  @if $weight == 'light'
  {
    font-weight: 300;
  }

  @else if $weight == 'regular'
  {
    font-weight: 400;
  }

  @else if $weight == 'medium'
  {
    font-weight: 500;
  }

  @else if $weight == 'semi_bold'
  {
    font-weight: 600;
  }

  @else if $weight == 'bold'
  {
    font-weight: 700;
  }

  @else if $weight == 'extra_bold'
  {
    font-weight: 800;
  }

  @else
 {
    font-weight: $weight;
  }
}