/* stylelint-disable media-query-no-invalid */
@mixin responsive($breakpoint)
{
  @if $breakpoint == small_phone
  {
    @media screen and (min-width: 20em)
    {
      /* 320px */
      @content;
    }
  }

  @else if $breakpoint == phone
  {
    @media screen and (min-width: 30em)
    {
      /* 480px */
      @content;
    }
  }

  @else if $breakpoint == small_tablet
  {
    @media screen and (min-width: 48em)
    {
      /* 768px */
      @content;
    }
  }

  @else if $breakpoint == tablet
  {
    @media screen and (min-width: 64em)
    {
      /* 1024px */
      @content;
    }
  }

  @else if $breakpoint == small_desktop
  {
    @media screen and (min-width: 80em)
    {
      /* 1280px */
      @content;
    }
  }

  @else if $breakpoint == desktop
  {
    @media screen and (min-width: 90em)
    {
      /* 1440px */
      @content;
    }
  }

  @else
  {
    @media screen and (min-width: $breakpoint)
    {
      @content;
    }
  }
}