.base-layout
{
  @include responsive(small_desktop)
  {
    padding-right: $spacing_64;
    padding-left: $spacing_64;
  }

  max-width: 192rem;
  margin: auto;
  padding-right: $spacing_32;
  padding-left: $spacing_32;
}
