---
import Favicon from '@global/component/favicon.astro';
import GoogleAnalytic from '@global/component/google_analytic.astro';
import Internationalization from '@global/component/internationalization.astro';
import LanguageAlternative from '@global/component/language_alternative.astro';
import MetaData from '@global/component/meta_data.astro';
import Pwa from '@global/component/pwa.astro';
import StructuredData from '@global/component/structured_data.astro';
import Typography from '@global/component/typography.astro';

import '../style/main.scss';
import { getLanguageFromUrl } from '@global/util/language';

import type { BaseLayoutProps } from '@global/type/base_layout_type';

type Props<T> = BaseLayoutProps<T>;

const { metaData, structuredData } = Astro.props;

const language = getLanguageFromUrl(Astro.url);
---
<!doctype html>
<html dir='ltr' lang={language}>
  <head>
    <MetaData {...metaData} />
    <title>{metaData.title}</title>
    <Typography />
    <Favicon />
    <Pwa />
    <LanguageAlternative />
    <Internationalization />
    <StructuredData schema={structuredData} />
    <slot name='head' />
    <GoogleAnalytic />
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import { animate } from "@global/util/animation";
  import { smoothScroll } from "@global/util/scroll";

  animate()
  smoothScroll()
</script>