---
import Favicon from '@global/component/favicon.astro';
import GoogleAnalytic from '@global/component/google_analytic.astro';
import MetaData from '@global/component/meta_data.astro';
import StructuredData from '@global/component/structured_data.astro';
import { siteConfiguration } from '@global/configuration/site_configuration';

import type { MetaDataProps } from '@global/component/meta_data.astro';
import type { StructuredDataProps } from '@global/type/structured_data/structured_data_props';

import './../style/main.scss';

type Props<T> =
{
  readonly metaData?: MetaDataProps;
  readonly structuredData?: StructuredDataProps<T>;
};

const {
  metaData,
  structuredData
} = Astro.props;
---
<!doctype html>
<html
  lang={siteConfiguration.defaultLocale}
  dir='ltr'
>
  <head>
    <MetaData {...metaData} />
    <Favicon />
    <StructuredData schema={structuredData} />
    <GoogleAnalytic />
    <slot name='head' />
    <title>{metaData.title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>