---
import Favicon from '@global/component/favicon.astro';
import GoogleAnalytic from '@global/component/google_analytic.astro';
import LanguageAlternative from '@global/component/language_alternative.astro';
import MetaData from '@global/component/meta_data.astro';
import StructuredData from '@global/component/structured_data.astro';
import { getLanguageFromUrl } from '@global/util/language';

import type { BaseLayoutProps } from '@global/type/base_layout_type';

import '../style/main.scss';

type Props<T> = BaseLayoutProps<T>;

const {
  metaData,
  structuredData
} = Astro.props;

const language = getLanguageFromUrl(Astro.url);
---
<!doctype html>
<html
  dir='ltr'
  lang={language}
>
  <head>
    <MetaData {...metaData} />
    <LanguageAlternative />
    <Favicon />
    <StructuredData schema={structuredData} />
    <GoogleAnalytic />
    <slot name='head' />
    <title>{metaData.title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>