@use 'global/style/config' as *;

.hero
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $gray_950;
}

.hero__title
{
  margin-top: 2rem;
  font-size: $h1;
  color: $white;

  @include font_weight(bold);

  @include responsive(tablet)
  {
    font-size: $xl;
  }
}