---
import CustomImage from '@global/component/custom_image.astro';
import { siteConfiguration } from '@global/configuration/site_configuration';
import BaseLayout from '@global/layout/base_layout.astro';
---
<BaseLayout
  metaData={{
    description: siteConfiguration.description,
    keywords: [ '404, pagina no encontrada', 'volver al inicio', '404 error' ],
    title: `${siteConfiguration.siteName} | Pagina no encontrada`
  }}
>
  <main class='not-found base-layout'>
    <h1 class='not-found__letter'>404</h1>
    <div class='not-found__container'>
      <div class='not-found__container-title'>
        <p class='not-found__title'>Oops</p>
        <CustomImage
          alt='face thinking'
          src='/asset/image/emoji_thinking_face.png'
          class='not-found__emoji'
        />
      </div>
      <p class='not-found__subtitle'>Algo salió mal, creo que estas perdido</p>
      <p class='not-found__description'>Error 404 página no encontrada</p>
      <a
        class='not-found__button'
        href='/'
      >
        Volver al inicio
      </a>
    </div>
  </main>
</BaseLayout>