---
import CustomImage from '@global/component/custom_image.astro';
import Link from '@global/component/link.astro';
import { siteConfiguration } from '@global/configuration/site_configuration';
import BaseLayout from '@global/layout/base_layout.astro';
---
<BaseLayout
  metaData={{
    description: 'La página que solicitaste parece haberse tomado unas vacaciones. Regrese a la página de inicio y continúe su viaje.',
    keywords:
    [
      '404, pagina no encontrada',
      'volver al inicio',
      '404 error'
    ],
    title: `${siteConfiguration.siteName} | Pagina no encontrada`
  }}
>
  <div class='not-found base-layout'>
    <h1 data-animate='zoom-in' class='not-found__letter'>404</h1>
    <div class='not-found__container'>
      <div class='not-found__container-title'>
        <p class='not-found__title' data-animate='fade-in-up delay-20'>
          Oops
        </p>
        <CustomImage
          width={120}
          height={120}
          alt='face thinking'
          class='not-found__emoji'
          data-animate='fade-in-up delay-20'
          src='/asset/image/emoji_thinking_face.png'
        />
      </div>
      <p class='not-found__subtitle' data-animate='fade-in-up delay-40'>
        Algo salió mal, creo que estas perdido
      </p>
      <p class='not-found__description' data-animate='fade-in-up delay-60'>
        Error 404 página no encontrada
      </p>
      <div data-animate='fade-in-up delay-80'>
        <Link href='/' class='not-found__button'>
          Volver al inicio
        </Link>
      </div>
    </div>
  </div>
</BaseLayout>