---
import BaseLayout from '@global/layout/base_layout.astro';
---
<BaseLayout
  metaData={{
    description: '',
    keywords: [],
    title: ''
  }}
>
  <h1 class='header'>Hola mundo</h1>
</BaseLayout>