---
import CustomImage from '@global/component/custom_image.astro';
import BaseLayout from '@global/layout/base_layout.astro';
---
<BaseLayout
  metaData={{
    description: '',
    keywords: [],
    title: ''
  }}
>
  <h1 class='header'>Hola mundo</h1>
  <div class='test-custom-image__container'>
    <CustomImage
      alt=''
      width={100}
      height={100}
      src='/asset/image/image_placeholder.png'
    >
      <p data-animate='fade-in-up'>Hola</p>
    </CustomImage>
  </div>
</BaseLayout>

<script>
  import { animate } from '@global/util/animation';

  animate();
</script>