---
import TextAnimated from '@global/component/text_animated.astro';
import BaseLayout from '@global/layout/base_layout.astro';
---
<BaseLayout
  metaData={{
    description: '',
    keywords: [],
    title: ''
  }}
>
  <div class='container'>
    <TextAnimated
      text='Hola mundo'
      class='text-blur-left'
      data-animate='text-blur-left-animation'
    />
  </div>
  <div class='container'>
    <h1 class='text-blur-left' data-animate='text-blur-left-animation'>
      Hola mundo
    </h1>
  </div>
</BaseLayout>

<script>
  import { animate } from '@global/util/animation';
  import { smoothScroll } from '@global/util/scroll';

  animate();
  smoothScroll();
</script>