---
import BaseLayout from '@global/layout/base_layout.astro';
---
<BaseLayout
  metaData={{
    description: '',
    keywords: [],
    title: ''
  }}
>
  <h1 class='header'>Hola mundo</h1>
</BaseLayout>

<script>
  import { animate } from '@global/util/animation';
  import { smoothScroll } from '@global/util/scroll';

  animate();
  smoothScroll();
</script>