---
import Link from '@global/component/link.astro';
import BaseLayout from '@global/layout/base_layout.astro';
import { getI18n, getLanguageFromUrl } from '@global/util/language';
import { aboutUsLocale } from '@module/landing/locale/about_us';

const language = getLanguageFromUrl(Astro.url);
const i18n = getI18n(language, aboutUsLocale);
---
<BaseLayout
  metaData={{
    description: '',
    keywords: [],
    title: ''
  }}
>
  <h1 class='flip-x'>Hola mundo</h1>
  <h1 class='flip-x'>{i18n.description}</h1>
  <Link href='/about-us'>
    about us
  </Link>
  <Link href='/'>
    home
  </Link>
  <Link href='/#services'>
    services
  </Link>
  <Link href='/about-us#services'>
    services
  </Link>
</BaseLayout>