---
import Illustration from '@global/component/illustration.astro';
import BaseLayout from '@global/layout/base_layout.astro';
---
<BaseLayout
  metaData={{
    description: 'El template de Astro para tu página web personal o portafolio profesional. Rápido, optimizado y fácil de personalizar.',
    keywords: [
      'Desarrollo Web',
      'Astro Framework',
      'React',
      'SEO Avanzado'
    ],
    title: 'AstraLight'
  }}
>
  <div class='hero'>
    <Illustration name='logo_astro' />
    <h1 class='hero__title'>AstraLight</h1>
  </div>
</BaseLayout>
