---
import Link from '@global/component/link.astro';
import BaseLayout from '@global/layout/base_layout.astro';
import { getStaticLanguage } from '@global/util/language';

// eslint-disable-next-line astro/no-exports-from-components, unicorn/prefer-export-from
export const getStaticPaths = getStaticLanguage;
---
<BaseLayout
  metaData={{
    description: '',
    keywords: [],
    title: ''
  }}
>
  <h1>About us</h1>
  <Link href='/about-us'>
    about us
  </Link>
  <Link href='/'>
    home
  </Link>
</BaseLayout>