---
import { externalLink } from '@global/util/link';

import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> &
{
  readonly rel?: string;
  readonly href: URL | string;
  readonly target?: '_top' | '_self' | '_blank' | '_parent';
};

const {
  href,
  rel: relationship,
  target,
  ...rest
} = Astro.props;

const link = externalLink({
  href,
  relationship,
  site: Astro.site,
  target,
  url: Astro.url
});
---
<a
  rel={link.rel}
  href={link.href}
  target={link.target}
  {...rest}
>
  <slot />
</a>