---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'span'> &
{
  readonly class?: string;
  readonly isLoaded?: boolean;
};

const { class: classImage, isLoaded, ...rest } = Astro.props;
---
<span
  class='skeleton'
  class:list={[ !isLoaded && 'skeleton--active', classImage ]}
  {...rest}
>
  <slot />
</span>