---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'span'> &
{
  readonly class?: string;
  readonly isLoading?: boolean;
};

const { class: classImage, isLoading = false, ...rest } = Astro.props;
---
<span
  class='skeleton'
  class:list={[ isLoading && 'skeleton--active', classImage ]}
  aria-hidden={isLoading ? "true" : "false"}
  {...rest}
>
  <slot />
</span>