---
type Props = {
  class?: string;
  animationDelay?: number;
};

const {
  animationDelay = 0.05,
  class: classTextAnimated,
  ...rest
} = Astro.props;

const text = await Astro.slots.render('default');
---
<p class:list={classTextAnimated}>
  {text?.split(' ').map((word, index) => (
    <>
      <span class='text-animated'>
        <span
          class='text-animated__word'
          style={`animation-delay: ${index * animationDelay}s`}
          {...rest}
        >
          {word}
        </span>
      </span>{' '}
    </>
  ))}
</p>