---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'p'> & {
  class?: string;
  delay?: number;
};

const {
  class: classTextAnimated,
  delay = 0.05,
  ...rest
} = Astro.props;

const rawText = await Astro.slots.render('default');

const cleanText = rawText
  ?.replaceAll(/<[^>]*>/g, '')
  .replaceAll(/[\t\n\r]/g, ' ')
  .replaceAll(/\s+/g, ' ')
  .trim();

const words = cleanText ? cleanText.split(' ') : [];
---
<p aria-label={cleanText} class:list={classTextAnimated}>
  <span aria-hidden='true'>
    {words.map((word, index) => (
      <span class='text-animated'>
        <span
          class='text-animated__word'
          style={`animation-delay: ${index * delay}s`}
          {...rest}
          set:html={`${word.replaceAll(' ', '&nbsp;')}&nbsp;`}
        />
      </span>
    ))}
  </span>
</p>