@charset 'UTF-8';

// Base
@use './base/typography';
@use './base/base';

// Layout
@use './layout/base_layout';

// Component
@use './component/animation';
@use './component/skeleton';
@use './component/custom_image';
@use './component/scrollbar';

// Page
@use './page/not_found';

// Modules
@use '@module/landing/style/landing';

// Helper
@use './helper/aspect_ratio';
@use './helper/z_index';
@use './helper/object_fit';
@use './helper/animation_delay';
@use './helper/cursor';
@use './helper/opacity';
@use './helper/pointer_event';
@use './helper/rotate';
@use './helper/overflow';
@use './helper/position';
@use './helper/text_align';
@use './helper/display';