.delay-5
{
  animation-delay: 0.05s;
}

.delay-10
{
  animation-delay: 0.1s;
}

.delay-15
{
  animation-delay: 0.15s;
}

.delay-20
{
  animation-delay: 0.2s;
}

.delay-25
{
  animation-delay: 0.25s;
}

.delay-30
{
  animation-delay: 0.3s;
}

.delay-35
{
  animation-delay: 0.35s;
}

.delay-40
{
  animation-delay: 0.4s;
}

.delay-45
{
  animation-delay: 0.45s;
}

.delay-50
{
  animation-delay: 0.5s;
}

.delay-55
{
  animation-delay: 0.55s;
}

.delay-60
{
  animation-delay: 0.6s;
}

.delay-65
{
  animation-delay: 0.65s;
}

.delay-70
{
  animation-delay: 0.7s;
}

.delay-75
{
  animation-delay: 0.75s;
}

.delay-80
{
  animation-delay: 0.8s;
}

.delay-85
{
  animation-delay: 0.85s;
}

.delay-90
{
  animation-delay: 0.9s;
}

.delay-95
{
  animation-delay: 0.95s;
}

.delay-100
{
  animation-delay: 1s;
}

.delay-105
{
  animation-delay: 1.05s;
}

.delay-110
{
  animation-delay: 1.1s;
}

.delay-115
{
  animation-delay: 1.15s;
}

.delay-120
{
  animation-delay: 1.2s;
}

.delay-125
{
  animation-delay: 1.25s;
}

.delay-130
{
  animation-delay: 1.3s;
}

.delay-135
{
  animation-delay: 1.35s;
}

.delay-140
{
  animation-delay: 1.4s;
}

.delay-145
{
  animation-delay: 1.45s;
}

.delay-150
{
  animation-delay: 1.5s;
}

.delay-155
{
  animation-delay: 1.55s;
}

.delay-160
{
  animation-delay: 1.6s;
}

.delay-165
{
  animation-delay: 1.65s;
}

.delay-170
{
  animation-delay: 1.7s;
}

.delay-175
{
  animation-delay: 1.75s;
}

.delay-180
{
  animation-delay: 1.8s;
}

.delay-185
{
  animation-delay: 1.85s;
}

.delay-190
{
  animation-delay: 1.9s;
}

.delay-195
{
  animation-delay: 1.95s;
}

.delay-200
{
  animation-delay: 2s;
}

.delay-205
{
  animation-delay: 2.05s;
}

.delay-210
{
  animation-delay: 2.1s;
}

.delay-215
{
  animation-delay: 2.15s;
}

.delay-220
{
  animation-delay: 2.2s;
}

.delay-225
{
  animation-delay: 2.25s;
}

.delay-230
{
  animation-delay: 2.3s;
}

.delay-235
{
  animation-delay: 2.35s;
}

.delay-240
{
  animation-delay: 2.4s;
}

.delay-245
{
  animation-delay: 2.45s;
}

.delay-250
{
  animation-delay: 2.5s;
}

.delay-255
{
  animation-delay: 2.55s;
}

.delay-260
{
  animation-delay: 2.6s;
}

.delay-265
{
  animation-delay: 2.65s;
}

.delay-270
{
  animation-delay: 2.7s;
}

.delay-275
{
  animation-delay: 2.75s;
}

.delay-280
{
  animation-delay: 2.8s;
}

.delay-285
{
  animation-delay: 2.85s;
}

.delay-290
{
  animation-delay: 2.9s;
}

.delay-295
{
  animation-delay: 2.95s;
}

.delay-300
{
  animation-delay: 3s;
}

.delay-305
{
  animation-delay: 3.05s;
}

.delay-310
{
  animation-delay: 3.1s;
}

.delay-315
{
  animation-delay: 3.15s;
}

.delay-320
{
  animation-delay: 3.2s;
}

.delay-325
{
  animation-delay: 3.25s;
}

.delay-330
{
  animation-delay: 3.3s;
}

.delay-335
{
  animation-delay: 3.35s;
}

.delay-340
{
  animation-delay: 3.4s;
}

.delay-345
{
  animation-delay: 3.45s;
}

.delay-350
{
  animation-delay: 3.5s;
}

.delay-355
{
  animation-delay: 3.55s;
}

.delay-360
{
  animation-delay: 3.6s;
}

.delay-365
{
  animation-delay: 3.65s;
}

.delay-370
{
  animation-delay: 3.7s;
}

.delay-375
{
  animation-delay: 3.75s;
}

.delay-380
{
  animation-delay: 3.8s;
}

.delay-385
{
  animation-delay: 3.85s;
}

.delay-390
{
  animation-delay: 3.9s;
}

.delay-395
{
  animation-delay: 3.95s;
}

.delay-400
{
  animation-delay: 4s;
}