.cursor-auto
{
  cursor: auto;
}

.cursor-pointer
{
  cursor: pointer;
}

.cursor-help
{
  cursor: help;
}

.cursor-not-allowed
{
  cursor: not-allowed;
}

.cursor-grab
{
  cursor: grab;
}

.cursor-grabbing
{
  cursor: grabbing;
}

.cursor-zoom-in
{
  cursor: zoom-in;
}

.cursor-zoom-out
{
  cursor: zoom-out;
}