@use '@global/style/global' as *;

.z-0
{
  z-index: $z_0;
}

.z-10
{
  z-index: $z_10;
}

.z-20
{
  z-index: $z_20;
}

.z-30
{
  z-index: $z_30;
}

.z-40
{
  z-index: $z_40;
}

.z-50
{
  z-index: $z_50;
}

.z-60
{
  z-index: $z_60;
}

.z-70
{
  z-index: $z_70;
}

.z-80
{
  z-index: $z_80;
}

.z-90
{
  z-index: $z_90;
}

.z-100
{
  z-index: $z_100;
}

.z-auto
{
  z-index: $z_auto;
}